

.pesquisa {
    display: flex;
    
    padding: 0 60px;
    margin-top: 50px;
}

.botaoPesquisar {
    background-color: #ffb800;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: solid 3px black;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
    outline: none;
    margin-left: 30px;
}

.barraPesquisa, .barraPesquisaFeitico {
    background-color: #d5c678;
    width: 70vw;
    border-radius: 100px;
    padding-left: 20px;
    border: solid 3px black;
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    outline: none;
}



.barraPesquisa::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 1.3em;
}

.filtro {
    width: 90vw;
    margin: 50px 5%;
    justify-self: center;
    background-color: #d5c678;
    padding: 10px 50px;
    border-radius: 30px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
}

.filtro p {
    text-align: center;
}

.filtro input {
    margin-right: 10px;
}

.botaoFiltrar {
    width: 100px;
    padding: 5px 10px;
    margin: 15px 0;
    background-color: #ffb800;
    font-weight: bold;
    border-radius: 100px;
    border: solid 2px black;
    cursor: pointer;
    outline: none;
}

.divMaiorLista {
    width: 90%;
    height: 80vh;
    margin: 5%;
    background-color: #d5c678;
    border-radius: 30px;
    padding-top: 2%;
    padding-bottom: 5%;
}

.divMenorLista {
    width: 95%;
    height: 70vh;
    margin: 2%;
    border: solid 3px black;
    border-radius: 30px;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30%);
    grid-gap: 30px;
    padding-bottom: 5%;
}

.divMenorLista::-webkit-scrollbar {
    display: none;
}


.cardPersonagem{
    font-size: 1.1em;
    margin: 0% 5% 5%;
    background-color: #8E7F30;
    width: 100%;
    margin-top: 30px;
    list-style: none;
    border-radius: 15px;
    display: block;
    height: 100%;
    max-height: 600px;
}

.cardPersonagem li {
    margin-top: 3px;
    margin-left: 10px;
    font-size: 1em;
    max-width: 90%;

}


.cabecalhoCard, .footerCard {
    height: 65px;
    background-color: #59522A;
}

.cabecalhoCard {
   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 0;
}

.footerCard {
    display: none;
}


@media (max-width: 800px) {
    
    .app {
        margin: 0;
        padding: 0;
        align-content: center;
    }
    
    .pesquisa {
        width: calc(100vw - 10px);
        flex-direction: column;
        align-items: center;
    }

    .barraPesquisa {
        margin-top: 30px;
        height: 60px;
    }

    .botaoPesquisar {
        margin: 30px 0;
    }

    .filtro {
        justify-self: center;
        width: 85vw;
        font-size: 1.2em;
    }

    .divMaiorLista {
        width: 85%;
    }

    .divMenorLista {
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }

    .cardPersonagem {
        width: 80%;
        margin: 10px auto;
        font-size: 1.2em;
        height: 600px;
        padding-bottom: 30px;
    }

    .cabecalhoCard {
        height: 60px;
    }
}


